body{
    box-sizing: border-box;
    background-color: rgb(136, 232, 136);
    font-family: Fira Sans;
}


.tab-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  
  .tab-header {
    flex: 1;
    padding: 10px;
    background: #6cac4d;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom: solid 2px rgb(8, 94, 8);
    padding: 5px;
    font-family: Fira Sans;
  }
  
  .tab-header.active {
    background: rgb(136, 232, 136);
    border: solid 2px rgb(8, 94, 8);
    border-bottom: none;
  }

  #tab-content-1{
    display: flex;
    flex-direction: column;
  }

  #tab-content-1 > input{
    margin: auto;
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.1em;
  }

  #list{
    display: grid;
    width: 60vw;
    min-height: 20vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
    margin-top: 2em;
    border-radius: 2em;
    background-color: #b5e39f;
    border: solid 2px rgb(45, 132, 45);
  }

  /* Anteckning -- i bredskärmsvy ser listan helt okej, och kanske till och med bättre, ut om hela #list > div kommenteras ut.
  I mobilvy går grid-mönstret ibland sönder av bilder som är större eller mindre.*/

  #list > div{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 2em;
    border: solid 2px rgb(45, 132, 45);
  }
  
  #team-container{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    background-color: #b5e39f;
    border: solid 2px rgb(45, 132, 45);
  }

  .member-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
  }
  .member-container > img{
    min-width: 40%;
  }

  #team-container > h3{
    grid-column: span 3;
    justify-self: center;
    margin: auto;
    font-family: Fira Sans;
  }
  .member-container > h4{
    text-align: center;
    margin: auto;
    font-size: 14px;
  }

  h2{
    margin: auto;
    text-align: center;
    font-family: Fira Sans;
  }

  div > img{
    border-radius: 2em;
    min-width: 49%;
  }

  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .buttons2{
    display: flex;
    justify-content: center;
  }

  .buttons > button{
    width: 4em;
    height: 2em;
  }

  #list > div > div{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    min-width: 49%;
    margin: 0;
  }

  #list > div > div > p{
    margin: auto;
    font-family: Fira Sans;
  }

  #list > div > div > button{
    margin: auto;
  }

  #list > .nicknameprompt{
    display: flex;
    flex-direction: column;
  }

  #list > .nicknameprompt > p{
    text-align: center;
  }

  #list > .nicknameprompt > div{
    display: flex;
    flex-direction: row;
  }

  #list > .nicknameprompt > input{
    margin: auto;
    width: 50%;
  }

  #list > .nicknameprompt > button{
    margin: auto;
    width: 30%;
  }

  /* #team-container > * {
    width: 5em;
    border: 2px dotted red;
    height: 10em;
  } */

  /* .spotlight{
    margin-left: 2em;
    margin-top: 1em;
    width: 8em;
    height: 2em;
    background-color: rgb(243, 243, 186);
    border: solid 1px rgb(184, 184, 148);
    border-radius: 50%;
  } */

  #reserve-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 60vw;
    min-height: 20vh;
    margin: auto;
    margin-top: 2em;
    border-radius: 2em;
    background-color: #b5e39f;
    border: solid 2px rgb(45, 132, 45);
  }
  #reserve-list > div{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 2em;
    border: solid 2px rgb(45, 132, 45);
  }

  #reserve-list > div > div{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    min-width: 49%;
    margin: 0;
  }

  #reserve-list > div > div > p{
    margin: auto;
    font-family: Fira Sans;
  }

  #reserve-list > div > div > button{
    height: 20%;
    width: 60%;
    margin: auto;
  }

  #tab-content-1.hidden{
    display: none;
  }

  .hidden{
    display: none;
  }

  @media screen and (min-width: 800px) {
    #list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      margin-top: 2em;
      border-radius: 2em;
      background-color: #b5e39f;
    }
    #list > div{
      min-width: 0;
      min-height: 0;
    }

    #team-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 50vw;
      min-height: 300px;
      height: 50vh;
      margin: auto;
      border-radius: 2em;
      background-color: #b5e39f;
    }

    .member-container{
      grid-row: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    /* .spotlight{
      grid-row: 3;
    } */

    #reserve-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      margin-top: 2em;
      border-radius: 2em;
      background-color: #b5e39f;
    }
    #reserve-list > div{
      min-width: 0;
      min-height: 0;
  }
}